<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choix de la partie</title>
</head>
<body>
{{ data|json_script:"data" }}

<ul id="games"></ul>

<button type="button" data-bs-toggle="modal" data-bs-target="#createModal">Creer une partie</button>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Creer une partie</h5>
            </div>
            <div class="modal-body">
                <label for="gameName">Nom de la partie</label>
                <input placeholder="Nom de la partie" id="gameName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="create">Jouer</button>
            </div>
        </div>
    </div>
</div>

<script>
    const data = JSON.parse(document.getElementById("data").textContent);

    const list = document.getElementById("games");

    for (let {id, name} of data.players) {
        const li = document.createElement("li");
        const button = document.createElement("button");
        button.innerHTML = name;
        button.onclick = () => {
            ws = new WebSocket("ws://" + document.location.host + "/ws/game/" + id);
            ws.onmessage = wsMessages;
            swap("/pingpong");
        };
        li.appendChild(button);
        list.appendChild(li);
    }

    document.getElementById("create").onclick = () => {
        ws = new WebSocket("ws://" + document.location.host + "/ws/game/" + data.uid + "?name=" + document.getElementById("gameName").value);
        ws.onmessage = wsMessages;
        swap("/pingpong");
    };
</script>

</body>
</html>