<!-- game/templates/game/main.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>

    {% load static %}
</head>
<body>
<h1>Bienvenue dans Transcendence</h1>

<button
        id="gameButton"
        data-playing="false"
        onclick="toggleGame()">
    Lancer le jeu de ping-pong
</button>

<div id="pong-container">
    <!-- Le jeu sera chargé ici -->
</div>

<script type="text/javascript">

    window.pingPongUrl = "{% url 'core:pingpong' %}";
    window.homeUrl = "{% url 'core:main' %}";

    window.init_scripts = [
        "{% static 'pong/player.js' %}?v=104",
        "{% static 'pong/game.js' %}?v=104",
        "{% static 'pong/setting.js' %}?v=104",
    ];

    window.game_scripts = [
        "{% static 'pong/utils.js' %}?v=104",
        "{% static 'pong/main.js' %}?v=104",
    ];

</script>

<script src="{% static 'main/main.js' %}?v=104"></script>

</body>

</html>

