<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Pong Game Tournament</title>
  <link rel="stylesheet" href="/static/pong/style.css">

</head>


<body>

  <div class="gameoption">
    <button class="button" id="start">Start game</button>
    <button class="button" id="openModalBtn">Register for the Tournament</button>
    <button class="button" id="reset">Reset</button>
    </div>

  <canvas id="pong" width="1200" height="600"></canvas>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalBtn">&times;</span>
      <h2>Entrez votre nom</h2>
      <input type="text" id="player-name" placeholder="Nom du joueur" />
      <button class="button" id="add-player">Ajouter joueur</button>
      <button class="button" id="add-42-player">Se connecter avec 42</button>
    </div>
  </div>
</body>
</html>
