@import "@fortawesome/fontawesome-free/css/all.css";
@import "tailwindcss";
@import "brackets-viewer/dist/brackets-viewer.min.css";

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--color-gray-500);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray-700);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-800);
}
